# Environment variables
.env
.env.local
.env.*.local

node_modules
dist
dist-ssr
*.local
release

# Build outputs
dist-electron/
dist/
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
